<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.harvard.cs50.tuner2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_3"
        android:supportsRtl="true"
        android:theme="@style/MyApp">

    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>

    <activity
        android:name=".IntroActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Intro" />
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>